/* Import Google Fonts: Poppins (400,600,700) & Inter (400,500) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap");

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  body {
    @apply font-sans text-nyarap-dark bg-nyarap-bg antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}
